.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  max-width: 430px;
  max-height: 458px;
  background-color: white;
  position: relative;
  border-radius: 16px;
  padding: 34px 36px 28px;
}

.modal__close {
  background-image: url(../../assets/close.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: -45px;
  border: none;
  right: -45px;
  background-color: transparent;
}

.modal__title {
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  padding-bottom: 31px;
}

.modal__input {
  width: 358px;
  height: 33px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.modal__error {
  color: #ff0000;
}

.modal__submit {
  margin: 8px 0 16px;
  width: 358px;
  height: 64px;
  border-radius: 100px;
  border: none;
  padding: 0;
  color: #fff;
  background-color: #2f71e5;
}

.modal__submit-disabled {
  color: #b6bcbf;
  background-color: #e6e8eb;
}

@media screen and (max-width: 320px) {
  .modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 1000;
    overflow-y: auto;
  }

  .modal_opened {
    visibility: visible;
  }

  .modal__content {
    width: 100%;
    max-width: 430px;
    max-height: 480px;
    height: 100%;
    background-color: #fff;
    border-radius: 18px 18px 0 0;
    padding: 16px 20px 45px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    align-self: flex-end;
  }

  .modal__close {
    position: absolute;
    top: -40px;
    right: 16px;
    background: url(../../assets/close.svg) no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .modal__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 0;
  }

  .modal__form {
    display: flex;
    flex-direction: column;
  }

  .modal__label {
    font-size: 12px;
    color: #2f71e5;
    display: flex;
    flex-direction: column;
  }

  .modal__input {
    font-size: 14px;
    padding: 8px 0 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
    width: auto;
  }

  .modal__submit {
    height: 64px;
    border-radius: 100px;
    border: none;
    background-color: #2f71e5;
    color: white;
    font-size: 16px;
    margin: 8px 0 16px;
    cursor: pointer;
    width: auto;
  }

  .modal__submit-disabled {
    color: #b6bcbf;
    background-color: #e6e8eb;
    cursor: not-allowed;
  }

  .modal__error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  .modal__switch {
    font-size: 14px;
    text-align: center;
    color: #000;
  }

  .modal__alternate-text {
    border: none;
    background: none;
  }

  .modal__alternate-link {
    color: #2f71e5;
    cursor: pointer;
  }
}
