.saved-text__container {
  padding: 0 104px;
}

.saved-text__articles_list {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-bottom: 64px;
}
