.saved-text__container {
  padding: 0 104px;
  background-color: #f5f6f7;
}

.saved-text__articles_list {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-bottom: 64px;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .saved-text__container {
    padding: 0 40px;
  }

  .saved-text__articles_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 375px) {
  .saved-text__container {
    padding: 32px 16px 24px;
  }

  .saved-text__articles_list {
    grid-template-columns: 1fr;
    padding-bottom: 24px;
  }
}
