.about {
  display: flex;
  max-width: 100%;
  height: 624px;
  padding: 80px 104px;
}

.about__container {
  max-width: 1440px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.about__image-container {
  display: flex;
  width: 464px;
  height: 464px;
  margin-right: 56px;
  flex-shrink: 0;
}

.about__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
}

.about__bio {
  padding: 40px 80px 210px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__title {
  margin: 0;
  padding-bottom: 24px;
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}

.about__text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

/* Responsive views */
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 60px 40px;
  }

  .about__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__image-container {
    width: 320px;
    height: 320px;
    margin: 0 0 40px;
  }

  .about__bio {
    padding: 0;
  }

  .about__title {
    font-size: 32px;
    line-height: 38px;
  }

  .about__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 375px) {
  .about {
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .about__image-container {
    width: 240px;
    height: 240px;
    justify-content: center;
    margin-bottom: 24px;
  }

  .about__image {
    width: 100%;
    height: 100%;
  }

  .about__bio {
    padding: 0;
    margin-top: 16px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about__title {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 16px;
  }

  .about__text {
    font-size: 14px;
    line-height: 20px;
  }
}
