.about {
  display: flex;
  flex-grow: 1;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin: 80px 56px 80px 104px;
}

.about__bio {
  padding: 131px 80px 216px 0;
}

.about__title {
  margin: 0;
  padding-bottom: 24px;
}

.about__text {
  margin: 0;
}
