.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px 26px;
  border-bottom: solid;
  border-color: #c4c4c4;
  border-width: thin;
}

.navigation__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navigation__nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.navigation__mobile-menu {
  display: none;
  background-image: url("../../assets/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.navigation__mobile-menu.black {
  background-image: url("../../assets/menu-black.svg");
}

.navigation__close-btn {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  visibility: hidden;
}

.navigation__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.navigation__logo {
  margin: 0;
  color: white;
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.navigation__logo.open {
  display: flex;
}

.navigation__logo.font-black {
  color: black;
}

.navigation__mobile-logo {
  margin: 0;
  color: white;
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  visibility: hidden;
}

.navigation__links {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navigation__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
}

.navigation__home {
  margin: 0;
  font-weight: 500;;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  outline: none;
}

.navigation__home::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -54px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navigation__home:hover::after {
  width: 68px;
  transition: width 0.3s ease-in-out;
}

.navigation__home.font-black {
  color: #1a1b22;
  background: none;
  border: none;
  position: relative;
}

.navigation__home.font-black::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -54px;
  width: 0;
  height: 3px;
  background-color: #1a1b22;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navigation__home.font-black:hover::after {
  width: 68px;
  transition: width 0.3s ease-in-out;
}

.navigation__logged-in_control {
  font-weight: 500;
  color: white;
  font-size: 18px;
  gap: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__saved {
  margin: 0;
  line-height: 24px;
  letter-spacing: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.navigation__saved::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -54px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navigation__saved:hover::after {
  width: 166px;
}

.navigation__saved.font-black {
  color: #1a1b22;
  background: none;
  border: none;
}

.navigation__saved.font-black::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -54px;
  width: 0;
  height: 3px;
  background-color: #1a1b22;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navigation__saved.font-black:hover::after {
  width: 166px;
}

.navigation__username {
  display: flex;
  width: 112px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #d1d2d6;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  background: none;
  overflow: hidden;
}

.navigation__username::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navigation__username:hover::after {
  width: 166px;
}

.navigation__username.font-black {
  color: #1a1b22;
}

.navigation__username.font-black::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 0;
  height: 3px;
  background-color: #1a1b22;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navigation__username.font-black:hover::after {
  width: 130px;
}

.navigation__logout {
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin-left: 12px;
  border: none;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navigation__logout.logout-black {
  background-image: url("../../assets/logout-black.svg");
}

.navigation__logout.logout-white {
  background-image: url("../../assets/logout-white.svg");
}

.navigation__signin {
  padding: 12px 20px;
  background: none;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  color: white;
  border-color: white;
  border-style: solid;
}

.navigation__signin.font-black {
  color: #1a1b22;
  border-color: #1a1b22;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 20px 40px;
  }

  .navigation__nav {
    gap: 16px;
  }

  .navigation__mobile-menu {
    display: none;
  }

  .navigation__home {
    margin: 0;
    padding: 0;
  }

  .navigation__saved {
    margin-left: 0;
    margin-right: 16px;
  }

  .navigation__logged-in_control {
    gap: 32px;
  }
}

@media screen and (max-width: 375px) {
  .navigation {
    flex-direction: row;
    padding: 16px;
  }

  .navigation__logo {
    z-index: 11;
  }

  .navigation__mobile-menu.black {
    display: block;
  }

  .navigation__nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1a1b22;
    z-index: 10;
    overflow-y: auto;
    width: 100%;
  }

  .navigation__nav.open {
    display: flex !important;
    padding: 0;
    align-self: flex-start;
  }

  .navigation__nav-header-wrapper {
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #c4c4c4;
    padding: 16px;
    box-sizing: border-box;
  }

  .navigation__nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    z-index: 12;
  }

    .navigation__mobile-menu {
    display: block;
    visibility: visible;
    padding: 0;
    background-color: transparent;
  }

  .navigation__mobile-logo {
    display: block;
    width: 140px;
    color: white;
    align-self: flex-start;
    visibility: visible;
  }

  .navigation__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }

  .navigation__close-btn {
    display: block;
    visibility: visible;
    background-color: transparent;
    border: none;
    padding: 0;
    align-self: flex-end;
  }

  .navigation__close-btn_image {
    width: 24px;
  }

  .navigation__nav-inner {
    padding: 16px 16px 32px 16px;
    width: 100%;
    box-sizing: border-box;
  }

  .navigation__user-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-top: 16px;
  }

  .navigation__home,
  .navigation__saved {
    color: white;
    font-size: 18px;
    margin: 8px 0;
  }

  .navigation__username {
    margin-top: 20px;
    width: 100%;
    padding: 12px 16px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
  }

  .navigation__home::after,
  .navigation__saved::after,
  .navigation__username::after {
    display: none;
  }

  .navigation__logout {
    margin-left: 12px;
    height: 24px;
    width: 24px;
  }

  .navigation__home.logged-out-shift {
    margin-top: 20px;
  }

  .navigation__home.show-mobile {
    text-align: left;
    align-items: flex-start;
  }

  .navigation__home::after {
    display: none;
  }

  .navigation__home.font-black {
    color: white;
  }

  .navigation__signin {
    width: 288px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .navigation__signin.logged-out-margin {
    margin-top: 22px;
  }

  .navigation__signin::after {
    display: none;
  }

  .navigation__signin-mobile {
    color: white;
    border: 1px solid white;
  }

  .navigation__logged-in_control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 22px;
  }

  .navigation__saved {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .navigation__saved.font-black {
    color: white;
    justify-content: left;
  }

  .navigation__username {
    width: 250px;
    margin-top: 0;
    padding: 12px 16px;
  }

  .navigation__username.font-black {
    color: white;
    border: 2px solid white;
    margin-top: 10px;
    justify-content: center;
  }

  .navigation__logout.logout-black {
    background-image: url("../../images/logout.svg");
  }
}
