.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px 26px;
  border-bottom: solid;
  border-color: #c4c4c4;
}

.navigation__links {
  color: black;
  text-decoration: none;
}

.navigation__logo {
  margin: 0;
}

.navigation__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
}

.navigation__home {
  margin: 0;
}

.navigation__saved {
  margin: 0;
}

.navigation__signin {
  padding: 12px 20px;
  background: none;
  border-radius: 100px;
  width: 176px;
  height: 48px;
}
