.search__container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.search__title {
  margin: 0;
  padding-bottom: 32px;
  font-family: "Roboto-Slab", Arial, sans-serif;
  color: white;
  font-size: 60px;
  font-weight: 400;
  width: 608px;
}

.search__instructions {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  color: white;
  margin: 0 auto;
  padding-bottom: 88px;
}

.search__form_controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 608px;
}

.search__form_container {
  display: flex;
  position: relative;
}

.search-form__label {
  position: relative;
  display: flex;
}

.search__bar {
  padding: 0 0 0 20px;
  border-radius: 100px;
  border: none;
  max-width: 100%;
  width: 100%;
  height: 64px;
  background-color: white;
  border: none;
  width: 608px;
}

.search__bar:focus-visible {
  outline: none;
}

.search__button {
  max-width: 100%;
  background-color: #2f71e5;
  width: 168px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  padding: 0 24px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  flex-shrink: 0;
  margin-left: -167px;
  z-index: 1;
}

.search__button:hover {
  background-color: #558ae6;
}

.search__button:focus {
  background-color: #1a5dd0;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .search__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 334px;
    padding: 38px 20% 48px 20%;
  }

  .search__title {
    width: 385px;
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 16px 0;
    justify-content: left;
    align-items: flex-start;
  }

  .search__instructions {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 48px;
    line-height: 24px;
    margin: 0 0 48px 0;
    width: 452px;
  }

  .search__form_controls {
    flex-direction: column;
    position: relative;
  }

  .search-form__input {
    width: 100%;
    height: 56px;
  }

  .search__bar {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 56px;
    width: 463px;
  }

  .search__button {
    width: 160px;
    height: 56px;
    position: absolute;
    right: 120px;
  }
}

@media screen and (max-width: 375px) {
  /* .search__container {
    height: 480px;
    padding: 30px 16px 32px 16px;
    justify-content: center;
    align-items: center;
  } */

  .search__container {
    padding: 0;
    max-height: 480px;
    max-width: 320px;
  }

  .search {
    /* height: 480px; */
    /* padding: 30px 16px 32px; */
    justify-content: center;
    align-items: center;
    /* width: 320px; */
    display: flex;
  }

  .search__text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 480px; */
    width: 320px;
  }

  .search__title {
    width: 285px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;
    padding-bottom: 16px;
    padding-top: 30px;
  }

  .search__instructions {
    width: 288px;
    height: 72px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    padding-bottom: 122px;
    margin: 0;
  }

  .search__form_controls {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search__form_container {
    /* padding: 30px 16px 32px 16px; */
    justify-content: center;
    /* align-items: center; */
    /* height: 480px; */
    width: 320px;
  }

  .search__bar {
    width: 288px;
    height: 56px;
  }

  .search__button {
    width: 308px;
    height: 56px;
    /* width: 100%; */
    margin-left: 6px;
    margin-top: 16px;
    position: relative !important;
    margin-bottom: 32px;
  }
}
