.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px 26px;
  border-bottom: solid;
  border-color: #c4c4c4;
}

.header__logo {
  margin: 0;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
}

.header__home {
  margin: 0;
}

.header__signin {
  padding: 12px 20px;
  background: none;
  border-radius: 100px;
  width: 176px;
  height: 48px;
}

.navigation__container {
}
