.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
  height: 80px;
  padding: 0 40px;
}

.footer__copyright {
  margin: 0;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.footer__text-group {
  display: flex;
  gap: 40px;
}

.footer__link {
  text-decoration: none;
}

.footer__text-group,
.footer__home,
.footer__tripleten {
  margin: 0;
  font-size: 18px;
}

.footer__home {
  color: black;
}

.footer__social-link {
  align-self: flex-start;
  text-decoration: none;
  color: black;
}

.footer__github {
  display: block;
  height: 24px;
  width: 24px;
}

/* Responsive views */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 38px;
    padding-top: 128px;
  }

  .footer__copyright {
    margin: 0 auto;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  .footer__text-group {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
