.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 104px 26px;
}

.footer__copyright {
  margin: 0;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__home {
  margin: 0;
}

.footer__social-link {
  text-decoration: none;
  color: black;
}

.footer__tripleten {
  margin: 0;
}

.footer__github {
  display: block;
  height: 24px;
  width: 24px;
}
