.nothingFound__container {
  width: 100%px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.nothingFound__image {
  max-width: 80px;
  max-height: 80px;
}
