.articles__header {
  margin: 0;
  padding-bottom: 64px;
}

.articles__list {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-bottom: 64px;
}

.articles {
  max-height: 576px;
  list-style-type: none;
  position: relative;
  border-radius: 18px;
  background-color: #fff;
}

.article__image {
  height: 272px;
  width: 100%;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.article__save-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

.article__save-btn {
  background-image: url(../../assets/save.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

.article__save-btn:hover {
  background-image: url(../../assets/save-hover.svg);
  cursor: pointer;
}

.article__save-btn--saved {
  background-image: url(../../assets/saved.svg);
}

.article__save-btn--remove {
  background-image: url(../../assets/trash.svg);
}

.article__save-btn--remove:hover {
  background-image: url(../../assets/trash-hover.svg);
}

.article__tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1;
}

.article__keywords_container {
  position: absolute;
  left: 293px;
}

.article__keywords {
  position: relative;
}

.article__save-container:hover .article__tooltip {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .articles__header {
    padding-bottom: 58px;
  }

  .articles__list {
    grid-template-columns: 1fr;
    padding-bottom: 24px;
  }

  .articles {
    max-height: 440px;
  }

  .article__image {
    height: 196px;
  }
}
