.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.articles {
  width: 400px;
  height: 576px;
  list-style-type: none;
}

.articles__image {
  width: 400px;
  height: 272px;
}
