.articles__header {
  margin: 0;
  padding-bottom: 64px;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.articles {
  width: 400px;
  height: 576px;
  list-style-type: none;
  position: relative;
}

.article__image {
  width: 400px;
  height: 272px;
}

.article__save-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

.article__save-btn {
  background-image: url(../../assets/save.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

.article__save-btn:hover {
  background-image: url(../../assets/save-hover.svg);
  cursor: pointer;
}

.article__save-btn--saved {
  background-image: url(../../assets/saved.svg);
}

.article__save-btn--remove {
  background-image: url(../../assets/trash.svg);
}

.article__save-btn--remove:hover {
  background-image: url(../../assets/trash-hover.svg);
}

.article__tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1;
}

.article__save-container:hover .article__tooltip {
  visibility: visible;
  opacity: 1;
}
